.article-container {
  font-family: Proxima Nova Soft;

  .article-header {
    font-size: 50px;
    margin-bottom: 0;
  }
  .article-header-img {
    margin-top: 5%;
    height: 300px;
    width: 50%;
    margin-bottom: 0;
  }
  .caption {
    margin-top: 0;
    font-size: 12px;
  }
  .date-written {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;
    border-bottom: 1px solid black;
  }
  .intro {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: left;
  }

  .player-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-top: 50px;
    padding-bottom: 50px;
    strong {
      font-size: 35px;
    }
    .player-img {
      margin-top: 40px;
      margin-bottom: 20px;
      height: 250px;
      width: 250px;
    }
    p {
      font-size: 20px;
    }
  }

  .conclusion {
    padding-top: 50px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 50px;
  }
}
