.nav-bar-container {
  border: 1px solid black;
  background-color: #113d55;

  .not-pablo-logo {
    height: 180px;
    width: 400px;
  }
  .social-media-icons {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-left: 100px;
    // margin-bottom: 10px;
    .icon {
      margin-left: 2.5%;
    }
  }
}
